
#slide5 a,
#slide4 a,
#slide3 a,
#slide2 a,
#slide1 a{
    position: absolute;
    left: 13%;
    top: 25%;
}

#slide3 a{
    font-size: 20px;
}

#slide5 a{
    font-size: 17px;
}

#slide5 div,
#slide4 div,
#slide3 div,
#slide2 div,
#slide1 div{
    border: 2px solid rgba(255,255,255,0.2);
    top: 0px;
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: rgb(55, 55, 55);
}

#slide5 img,
#slide4 img,
#slide3 img,
#slide2 img,
#slide1 img{
    position: absolute;
    width: 100%;
    height: 100%;
    
}

#slide5 svg,
#slide4 svg,
#slide3 svg,
#slide2 svg,
#slide1 svg{
    position: relative;
    scale: 85%;
    transform: translateX(-50%);
}

#slideLi{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-bottom: 50px solid rgba(43, 43, 43, 0.9);
	border-left: 50px solid transparent;
	width: 15%;
}

#price1, #price2, #price3, #price4, #price5{
    position: absolute;
    font-family: "Anta", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(0, 156, 0);
    scale: 150%;
    transform: translateY(80%);
}
#price3{
    transform: translateY(90%);
}
#price5{
    scale: 200%;
    transform: translateY(90%) translateX(10%);
}

#leftPanel{
    position: absolute;
    display: block;
    width: 40%;
    top: 25px;
    left: 0px;
    border-bottom: 58.5vh solid rgba(0, 0, 0, 0.85);
	border-left: 20vh solid transparent;
    rotate: 180deg;
}

#text1, #text2, #text3, #text4, #text5{
    white-space: pre-wrap;
    font-size: 115%;
    position: absolute;
    rotate: 180deg;
    margin-top: 23%;
    margin-right: 10px;
}
#text2{
    font-size: 110%;
    margin-top: 19%;
}
#text3{
    font-size: 150%;
    margin-top: 20%;
}
#text4{
    font-size: 120%;
    margin-top: 45%;
}